.sidebar-cont {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #f7f9fd;
  padding: 0;
  left: 0;
  width: 230px;

  .sidebar-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 4rem 0rem;

      .main-nav {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .logo-sec {
              margin-bottom: 3rem;

          }

          .nav-link {
              color: #1f2127;
              display: flex;
              align-items: center;
              text-align: left;
              opacity: 0.6;
              letter-spacing: 0.02em;
              padding: 0.8rem 0rem 0.8rem 2.2rem;
              width: 100%;
              transition: all 0.4s ease;
              font-size: 1.1rem;

              .icon {
                  font-size: 1.3rem;
                  margin-right: 1rem;
              }
          }

          .active-link {
              color: #3954ff;
              opacity: 1;
              background: rgba(57, 84, 255, 0.05);
              border-left: 5px solid #3954ff;
          }
      }

      .logout-sec {
          .logout {
              background: #3954ff;
              font-size: 1.1rem;
              border-radius: 8px;
              padding: 0.5rem 1rem;
              display: flex;
              align-items: center;

              .icon {
                  font-size: 1.3rem;
                  margin-right: 0.4rem;
              }
          }
      }
  }
}
